@use "src/styles/vars" as vars;

.aside {
  position: relative;
  width: vars.$sidebar-width;
  height: 100vh;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(33,33,33,1) 61%, rgba(33,33,33,1) 96%, rgba(76,175,80,1) 100%);
  border-right: 1px solid vars.$color-light-gray;

  transition: vars.$custom-transition;

  &.collapsed {
    width: vars.$sidebar-width-collapsed;

    .aside__collapse-arrow-icon {
      transform: rotate(180deg);
    }

    .aside__nav-link {
      span {
        opacity: 0;
        font-size: 0;
        pointer-events: none;
      }

      mat-icon {
        margin-right: 0;
      }
    }

    .aside__help {
      padding: 5px;
      width: calc(100% - 20px);
      span {
        font-size: 0;
        opacity: 0;
      }

      mat-icon {
        margin-right: 0;
      }
    }
  }

  &:hover {
    .aside__collapse-arrow {
      opacity: 0.6;
      pointer-events: all;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__inner {
    padding: 10px 10px;
    height: 100%;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
  }

  &__nav-link {
    display: flex;
    align-items: center;
    transition: vars.$custom-transition;
    cursor: pointer;
    width: 100%;
    padding: 8px;
    border-radius: 5px;

    &:hover {
      background-color: vars.$color-light-gray;
    }

    & + & {
      margin-top: 10px;
    }

    mat-icon {
      margin-right: 10px;
      transition: vars.$custom-transition;
    }

    span {
      transition: vars.$custom-transition;
    }
  }

  &__help {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 30px);
    background-color: vars.$color-primary;
    border-radius: 8px;
    color: vars.$color-default;
    transition: vars.$custom-transition;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
      font-size: 22px;
      margin-right: 8px;
      width: 24px;
      height: 24px;
      transition: vars.$custom-transition;
    }

    span {
      transition: vars.$custom-transition;
    }

    &:hover {
      span {
        color: vars.$color-accent;
      }
      mat-icon {
        color: vars.$color-accent;
      }
    }
  }

  &__collapse-arrow {
    position: absolute;
    bottom: 60px;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #000;
    transform: translateX(50%);

    transition: vars.$custom-transition;

    opacity: 0;
    pointer-events: none;
    border-radius: 8px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__collapse-arrow-icon {
    transition: vars.$custom-transition;
  }
}
