@use "src/styles/vars" as vars;
.todo {
  background-color: vars.$color-light-gray;
  border-radius: 8px;
  padding: 10px 12px;
  height: 300px;
  transition: vars.$custom-transition;
  cursor: pointer;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid vars.$color-primary;
    box-shadow: 0 0 15px 3px rgba(#000, 0.5);
  }

  &__title {
    display: inline-block;
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 130%;
  }

  &__body {
    opacity: 0.8;
    line-height: 120%;
  }
}
