@use "src/styles/vars" as vars;

.todos-list {

  &__inner {
    background-color: vars.$color-default;
    border-radius: 12px;
    padding: 18px 18px;
  }

  &__title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 20px;
    color: vars.$color-accent;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    width: max-content;
    transition: vars.$custom-transition;
    border-radius: 6px;
    padding: 5px;

    &:hover {
      background-color: vars.$color-light-gray;
    }
  }

  &__add-new-todo {
    margin-right: 10px;

    &:hover {
      fill: vars.$color-primary;
    }
  }


  &__todos {
    display: flex;
    align-items: center;
  }
  &__item {

    & + & {
      margin-left: 20px;
    }
  }
}
