@import "./styles/vars";

.todos-list {

  &__inner {
    background-color: $color-default;
    border-radius: 12px;
    padding: 18px 18px;
  }

  &__title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 20px;
    color: $color-accent;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    width: max-content;
    transition: $custom-transition;
    border-radius: 6px;
    padding: 5px;

    &:hover {
      background-color: $color-light-gray;
    }
  }

  &__add-new-todo {
    margin-right: 10px;

    &:hover {
      fill: $color-primary;
    }
  }


  &__todos {
    display: flex;
    align-items: center;
  }
  &__item {

    & + & {
      margin-left: 20px;
    }
  }
}
