@import "src/styles/vars";

.aside {
  position: relative;
  width: $sidebar-width;
  height: 100vh;
  background-color: $color-default;
  border-right: 1px solid $color-light-gray;

  transition: $custom-transition width;

  &.collapsed {
    width: $sidebar-width-collapsed;

    .aside__user-img-block {
      width: 40px;
      height: 40px;
    }

    .aside__collapse-arrow-icon {
      transform: rotate(180deg);
    }
  }

  &:hover {
    .aside__collapse-arrow {
      opacity: 0.6;
      pointer-events: all;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__inner {
    padding: 10px 10px;
    height: 100%;
  }

  &__user-img-block {
    width: 120px;
    height: 120px;
    border-radius: 12px;
    margin: 0 auto;
    border: 2px solid $color-light-gray;
    background-color: $color-accent;
    opacity: 0.8;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: $custom-transition;
    cursor: pointer;

    &:hover {
      border-color: $color-primary;
      opacity: 1;
    }
  }

  &__user-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: $custom-transition;
    border-radius: 12px;
  }


  &__collapse-arrow {
    position: absolute;
    bottom: 30px;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #000;
    transform: translateX(50%);

    transition: $custom-transition;

    opacity: 0;
    pointer-events: none;
    border-radius: 8px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__collapse-arrow-icon {
    transition: $custom-transition;
  }
}
