@import "src/styles/vars";

.aside {
  position: relative;
  width: $sidebar-width;
  height: 100vh;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(33,33,33,1) 61%, rgba(33,33,33,1) 96%, rgba(76,175,80,1) 100%);
  border-right: 1px solid $color-light-gray;

  transition: $custom-transition width;

  &.collapsed {
    width: $sidebar-width-collapsed;
    .aside__user-img-block {
      width: 40px;
      height: 40px;
    }

    .aside__collapse-arrow-icon {
      transform: rotate(180deg);
    }

    .aside__nav-link {
      span {
        opacity: 0;
        font-size: 0;
        pointer-events: none;
      }

      mat-icon {
        margin-right: 0;
      }
    }

    .aside__help {
      padding: 5px;
      width: calc(100% - 20px);
      span {
        font-size: 0;
        opacity: 0;
      }

      mat-icon {
        margin-right: 0;
      }
    }
  }

  &:hover {
    .aside__collapse-arrow {
      opacity: 0.6;
      pointer-events: all;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__inner {
    padding: 10px 10px;
    height: 100%;
  }

  &__user {
    cursor: pointer;

    &:hover {
      .aside__user-img-block {
        border-color: $color-primary;
        opacity: 1;
      }
      .aside__username {
        color: $color-primary;
      }
    }
  }

  &__user-img-block {
    width: 220px;
    height: 220px;
    border-radius: 12px;
    margin: 0 auto;
    border: 2px solid $color-light-gray;
    background-color: $color-accent;
    opacity: 0.8;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: $custom-transition;
  }

  &__user-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: $custom-transition;
    border-radius: 12px;
  }

  &__username {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    transition: $custom-transition;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
  }

  &__nav-link {
    display: flex;
    align-items: center;
    transition: $custom-transition;
    cursor: pointer;
    width: 100%;
    padding: 8px;
    border-radius: 5px;

    &:hover {
      background-color: $color-light-gray;
    }

    & + & {
      margin-top: 10px;
    }

    mat-icon {
      margin-right: 10px;
      transition: $custom-transition;
    }

    span {
      transition: $custom-transition;
    }
  }

  &__help {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 30px);
    background-color: $color-primary;
    border-radius: 8px;
    color: $color-default;
    transition: $custom-transition;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
      font-size: 22px;
      margin-right: 8px;
      width: 24px;
      height: 24px;
      transition: $custom-transition;
    }

    span {
      transition: $custom-transition;
    }

    &:hover {
      span {
        color: $color-accent;
      }
      mat-icon {
        color: $color-accent;
      }
    }
  }

  &__collapse-arrow {
    position: absolute;
    bottom: 60px;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #000;
    transform: translateX(50%);

    transition: $custom-transition;

    opacity: 0;
    pointer-events: none;
    border-radius: 8px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__collapse-arrow-icon {
    transition: $custom-transition;
  }
}
